body  {
    background-color: #ffff00;
    color: #ec1010;
}
h1, p  {
    text-align: center;
}
#characterChoices > option  {
    background-color:blue;
}
.btn    {
    background-color: blue;
    border: none;
}
#avenger1, #avenger2, #avenger3, #avenger4, #avenger5, #avenger6    {
    display: none;
} 